<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>avatar</key>
		<string>bottom-user-select</string>
		<key>id</key>
		<string>12321</string>
		<key>name</key>
		<string>张三</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>bottom-user-select</string>
		<key>id</key>
		<string>145</string>
		<key>name</key>
		<string>李四</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>bottom-user-select</string>
		<key>id</key>
		<string>23</string>
		<key>name</key>
		<string>王五</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>bottom-user-select</string>
		<key>ID</key>
		<string>1</string>
		<key>name</key>
		<string>赵四</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>bottom-user-select</string>
		<key>id</key>
		<string>1225</string>
		<key>name</key>
		<string>陈三</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>bottom-user-select</string>
		<key>id</key>
		<string>122</string>
		<key>name</key>
		<string>沈八</string>
	</dict>
</array>
</plist>
